@{
    ViewBag.Title = "Home Page";
}


<div ng-app="myApp">
    <br/>
    @*<a class="btn-info btn-lg" ui-sref="EmployeeList" ui-sref-active="active">Home</a>&nbsp; &nbsp; &nbsp;
    <a class="btn-info btn-lg" ui-sref="EmployeeInsert" ui-sref-active="active">Add Employee</a>*@
    <div ui-view></div>
</div>